@model IEnumerable<COMP2084Project.Models.AudioList>

@{
    ViewData["Title"] = "Your Lists";
}

<h1>Your Album Lists</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="AudioEntries" asp-action="Index">View Entries</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AudioListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioListDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AudioListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudioListDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AudioListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AudioListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AudioListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
