@model IEnumerable<COMP2084Project.Models.MovieEntry>

@{
    ViewData["Title"] = "Your Previous Entries";
}

<h1>Your Previous Entries</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieLists)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieLists.MovieListName)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.MovieEntryId">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.MovieEntryId">Delete</a>
                    }
                    
                <a asp-action="Details" asp-route-id="@item.MovieEntryId">Details</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
