@model IEnumerable<COMP2084Project.Models.ShowList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="ShowEntries" asp-action="Index">View Entries</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShowListName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowListDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowListName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowListDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShowListId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShowListId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
