@model COMP2084Project.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowCreator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowCreator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.review)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.review)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenGenre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenGenre.ScreenGenreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShowId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
