@model IEnumerable<COMP2084Project.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h1>Add a new Album Review</h1>

@if (User.Identity.IsAuthenticated)
{   <p>
        <a asp-action="Create">Create New Review</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AudioGenre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AudioGenre.Name)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.AlbumId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AlbumId">Delete</a>
                }
                    <a asp-action="Details" asp-route-id="@item.AlbumId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
