@model IEnumerable<COMP2084Project.Models.Movie>

@{
    ViewData["Title"] = "Your Reviews";
}

<h1>Your Movie Reviews</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Screenwriter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenGenre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screenwriter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenGenre.Name)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    }
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
